:root {
	--primary: #f4ff61;
	--secondary: #161618;
	--roboto: 'Roboto', sans-serif;
}

body {
	background-color: var(--secondary);
	height: 100vh;
	overflow-x: hidden;
}
.main-navbar {
	background-color: rgba(0, 0, 0, 0.856);
}