:root {
	--primary: #f4ff61;
	--secondary: #161618;
	--roboto: 'Roboto', sans-serif;
}

body {
	background-color: var(--secondary);
	height: 100vh;
	overflow-x: hidden;
}
.main-navbar {
	background-color: rgba(0, 0, 0, 0.855);
}
.card-text-modyfied {
	text-align: center;
	color: red;
	font-weight: 1000;
	font-size: 15px;
}

.card-text-modyfied a {
	font-size: 20px;
}
