:root {
	--primary: #f4ff61;
	--secondary: #161618;
	--roboto: 'Roboto', sans-serif;
}

body {
	background-color: var(--secondary);
	height: 100vh;
	overflow-x: hidden;
}
.main-navbar {
	background-color: rgba(0, 0, 0, 0.855);
}
.navbar-brand img {
	width: 500px;
}

.nav-link {
	color: #fff !important;
}
.navbar-collapse {
	flex-grow: unset !important;
}
.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.856);
}

.dropdown-item {
	color: #fff;
}
.slider {
	background-color: #181818;
	height: 100vh;
	display: flex;
	align-items: center;
}

.name {
	font-size: 25px;
	color: var(--primary);
	text-align: center;
}

.job {
	font-size: 90px;
	font-family: var(--roboto);
	text-align: center;
	color: #fff;
}

.slider-image img {
	width: 100%;
	position: relative;
}
.location {
	font-size: 40px;
	font-family: var(--roboto);
	text-align: center;
	color: var(--primary);
}

.description {
	color: rgba(255, 255, 255, 0.733);
	text-align: center;
	font-weight: 400;
}

@media (max-width: 767px) {
	.job {
		font-size: 40px !important ;
	}
	.location {
		font-size: 30px !important;
	}
}




